body{
    background-color: rgb(43, 43, 43);
    color: antiquewhite;
    font-family: "courier new"
    
}
h4{
    color: beige;
}
p{
    color: antiquewhite;
}
a{
    color: aquamarine;
}
img{
    border-radius: 2.5%;
}